/* App.css */
.app {
    text-align: center;
  }
  
  /* MasterResidents.css */
  .master-residents {
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .load-more {
    margin-top: 20px;
    padding: 10px 20px;
  }
  
  /* ResidentCard.css */
  .resident-card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
  }
  
  .resident-card img {
    width: 100%;
    height: 150px;
  }
  
  .resident-card h3 {
    margin-top: 10px;
    color: white;
  }
  
  /* FilterPanel.css */
  .filter-panel {
    flex: 1;
    padding: 20px;
    color: white;
    border-right: 1px solid #ddd;
  }
  
  .filter-panel ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }
  
  .filter-panel li {
    margin: 10px 0;
    color: white;
  }
  
  /* SearchBar.css */
  .search-bar {
    margin: auto;
    color: black;
    width: 50%;
  }
  
  .search-bar input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  