hr{
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.about-us{
    max-width: 900px;
    margin: auto;
    background-color: rgb(36, 32, 32);
    .imggg{
        width: 90%;
        padding: 40px;
    }
    .ps{
        padding: 20px;
        color: white;
    }
}
.abput-paragraph{
    text-align: center;
    color: white;
}
.grids-about{
    display: flex;
    justify-content: space-around;
    border: 2px solid orange;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    h1{
        color: white;
        text-align: center;
    }
    p{
        color: white;
        text-align: center;
    }
}

.gdi{
    display: grid;
    grid-template-columns: repeat(auto-fit ,200px);
    gap: 10px;
}
p{
    color: white;
}
.grid-image{
    width: 100%;
    &:hover{
        border: 2px solid orange;
        transition: 0.5s;
    }
}
.Ton{
    margin-left: 40px;
    h1{
        color: white;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
.derh1{
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}
.der{
    width: 90%;
    margin-left: 50px;
    padding-bottom: 50px;
}