.hamkorlar-h1{
    color: white;
    padding-bottom: 20px;
    font-size: 35px;
    padding-left: 97px;
    font-weight: 700;
    margin-top: 50px;
}
.imgs{
    width: 250px;
}
.grids{
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    align-items: center;
    justify-content: center;
    gap: 87px;
}
.marginb{
    margin-bottom: 50px;
}